
 form{
     margin-left: 40%;
     position: relative; 
     top: -525px;
    
 }
 fieldset{
    padding: auto;
    border-color:rgb(56, 148, 56) ;
    color: rgb(56, 148, 56);
    font-weight:bold ;
    font-size: larger;
    height: 40%;

}
.eform{
    margin-left: 35%;
    padding: 20px;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
}
.pform{
    margin-left: 35%;
    padding: 20px;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
}
.submit{
    margin-left: 38%;
    padding:3px;
    color: rgb(56, 148, 56);
    font-weight: bold;
}
.submit2{
    padding: 3px;
    margin-left: 3%;
    color: rgb(56, 148, 56);
    font-weight: bold;
}

.h1{
    
    font-family: 'Orbitron', sans-serif;
    font-size: 55px;
    color:rgb(56, 148, 56);
    

    
}
input:hover, input:active {
    border-style: solid;
    border-color: rgb(56, 148, 56);
    border-width: medium;
 }
.loader{
    border: 16px solid #f3f3f3 ;
    border-top: 16px solid rgb(56, 148, 56);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: 47%;
    margin-top: 20%;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.body{
    background-image: url('backgroundd.jpg');
    
}
.h2{
    color:rgb(56, 148, 56);
    font-family: 'Orbitron', sans-serif;
    

}

.a{
    text-align: end;
}
